name: managed

on:
  push:
    paths-ignore:
    - 'doc/**'
    - 'img/**'
    - 'lib/**'
    - '*.md'
    - '*.txt'
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Install .NET 6.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Build, Test, Pack, Publish
      run: |
        dotnet tool install -g dotnet-releaser
        dotnet-releaser run --nuget-token ${{secrets.NUGET_TOKEN}} --github-token  ${{secrets.GITHUB_TOKEN}} src/dotnet-releaser.toml