name: native

on:
  push:
    paths-ignore:
    - 'img/**'
    - 'doc/**'
    - 'src/**'
    - '*.md'
    - '*.txt'
  pull_request:
    paths-ignore:
    - 'img/**'
    - 'doc/**'
    - 'src/**'
    - '*.md'
    - '*.txt'    

defaults:
  run:
    working-directory: lib/blake3_dotnet

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build Linux
      if: matrix.os == 'ubuntu-20.04'
      run: |
          chmod 755 *.sh
          echo "building linux-x64"
          ./build-linux-x64.sh
          echo "building linux-arm64"
          sudo apt-get install gcc-aarch64-linux-gnu      
          ./build-linux-arm64.sh
          echo "building linux-arm"
          sudo apt-get install gcc-arm-linux-gnueabihf      
          ./build-linux-arm.sh
    - name: Build macOS
      if: matrix.os == 'macos-latest'
      run: |
          chmod 755 *.sh
          ./build-osx-x64.sh
          ./build-osx-arm64.sh
    - name: Build Windows
      if: matrix.os == 'windows-latest'
      run: |
          ./build-win-x64.ps1
          ./build-win-x86.ps1
          ./build-win-arm64.ps1
#          ./build-win-arm.ps1
    - name: Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: native-${{ matrix.os }}
        path: lib/blake3_dotnet/build/